name: Continuous Integration Build

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    build-and-test:
        runs-on: ubuntu-latest
        env:
            MODEL_PATH: ./models/xgb_alzheimer_classifiier.joblib
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Python Environment
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Run Model Training Pipeline
              run: |
                mkdir -p models
                python src/data_prep.py
                python src/train_model.py
            
            - name: Run Smoke Tests
              run: |
                  docker run -d --name test_app -p 8080:8080 MODEL_PATH=${{ env.MODEL_PATH }}
                  echo "Waiting for the application to start..."
                  sleep 15

                  python tests/smoke_tests.py

                  if [ $? -ne 0 ]; then
                      echo "Smoke tests failed!"
                      docker logs test_app
                      exit 1
                  fi
                      echo "Smoke tests passed!"
            
            - name: Stop and Remove Docker Container
              if: always()
              run: |
                  docker rm -f test_app